name: Release
on:
  workflow_dispatch:
    inputs:
      tag_name:
        required: true
        type: string
permissions:
  contents: write
  attestations: write
  id-token: write
jobs:
  tag:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.tag.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag -a ${{ inputs.tag_name }} -m "Release ${{ inputs.tag_name }}"
          git push --tags
  release:
    needs: [tag]
    uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v7.2.3
    with:
      bazel_test_command: cd example && bazel test //...
      prerelease: false
      release_files: "*.tar.gz"
      tag_name: ${{ inputs.tag_name }}
  publish:
    needs: [release]
    uses: bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v1.0.0
    with:
      tag_name: ${{ inputs.tag_name }}
      registry_fork: calebzulawski/bazel-central-registry
      attest: true
    permissions:
      contents: write
      id-token: write
      attestations: write
    secrets:
      publish_token: ${{ secrets.BCR_PUBLISH_TOKEN }}
