name: Test
on:
  push:
jobs:
  check_formatting:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          module-root: bazel/test
          bazelisk-cache: true
          disk-cache: false
          repository-cache: false
      - name: Check formatting
        run: bazel run format.check
  test:
    strategy:
      matrix:
        runs-on:
          - ubuntu-24.04
          - windows-2022
          - ubuntu-24.04-arm
          - macos-15-intel
          - macos-15
        bazel-version:
          - null
          - 7.x
    env:
      USE_BAZEL_VERSION: ${{ matrix.bazel-version }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          module-root: bazel/test
          bazelisk-cache: true
          disk-cache: false
          repository-cache: false
      - name: Run tests
        run: bazel test --config incompatible --test_output=errors //... -- -//tools/...
        shell: bash
      - name: Run example module tests
        run: cd example && bazel test --config incompatible --test_output=errors //...
        shell: bash
